# Week 3: Segmenting and Clustering Neighbourhoods

In [18]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

Read table from the wikipedia page, and edit as in part 1

In [30]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df = pd.read_html(url, header = 0)[0]
df = df[df.Borough != 'Not assigned']
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(list).apply(lambda x:', '.join(x)).to_frame().reset_index()
for index, row in df.iterrows():
    if row['Neighbourhood'] == 'Not assigned':
        row['Neighbourhood'] = row['Borough']

Read geospatial coordinates csv, rename Post Code column to match df

In [31]:
longLats = pd.read_csv("Geospatial_Coordinates.csv")
longLats = longLats.rename(index=str, columns={'Postal Code': "Postcode"})
longLats.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

Merge according to the postcode

In [37]:
df = pd.merge(df, longLats, on='Postcode', how='inner')

In [36]:
df.head(5)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [35]:
df.shape

(103, 5)